
<h1>Surahs</h1>
<div class="card">
    <h3>List of Surahs</h3>
    <ul>
        <li>Surah Al-Fatiha</li>
        <li>Surah Al-Baqarah</li>
        <li>Surah Al-Imran</li>
        <li>Surah An-Nisa</li>
    </ul>
</div>